.example-button-row .mat-mdc-button-base {
    margin: 8px 8px 8px 0;
  }
  h2 {
    margin-bottom: 0;
}

th.mat-sort-header.mat-mdc-header-cell:nth-child(4), td.mat-mdc-cell:nth-child(4),
th.mat-sort-header.mat-mdc-header-cell:nth-child(5), td.mat-mdc-cell:nth-child(5),
th.mat-sort-header.mat-mdc-header-cell:nth-child(6), td.mat-mdc-cell:nth-child(6),
th.mat-sort-header.mat-mdc-header-cell:nth-child(7), td.mat-mdc-cell:nth-child(7),
th.mat-sort-header.mat-mdc-header-cell:nth-child(8), td.mat-mdc-cell:nth-child(8),
th.mat-sort-header.mat-mdc-header-cell:nth-child(9), td.mat-mdc-cell:nth-child(9),
th.mat-sort-header.mat-mdc-header-cell:nth-child(10), td.mat-mdc-cell:nth-child(10),
th.mat-sort-header.mat-mdc-header-cell:nth-child(11), td.mat-mdc-cell:nth-child(11),
th.mat-sort-header.mat-mdc-header-cell:nth-child(12), td.mat-mdc-cell:nth-child(12),
th.mat-sort-header.mat-mdc-header-cell:nth-child(13), td.mat-mdc-cell:nth-child(13){
  display: none;
}