.app-container {
    height: 100%;
  }
  
  .main-section {
    display: flex;
    justify-content: flex-start;
    height: 100vh;
  }
  
  .working-area {
    width: 100%;
    overflow: hidden;
  }
  