mat-form-field.mat-mdc-form-field{
    width: 100%;
}
h2 {
    margin: 0 0 5px !important;
}
.mdc-dialog__actions{
    padding: 8px 24px;
}

.messageCounts{
    display: flex;
    p b{
        color: #F44336;
    }
}