<div class="login-container">
    <div class="row">

        <div class="col-md-12 login-form-1">
            <div class="logo-section">
                <img src="assets/logo.svg">
            </div>
            <h2 class="text-divider"><span>Reset Password</span></h2>

            <form (ngSubmit)="onSubmit()">
                <div class="mb-3">
                    <label for="newPassword">New Password</label>
                    <input type="password" id="newPassword" class="form-control form-control-sm"
                        [(ngModel)]="newPassword" name="newPassword" required>
                </div>
                <div class="mb-3">
                    <label for="confirmNewPassword">Confirm New Password</label>
                    <input type="password" id="confirmNewPassword" class="form-control form-control-sm"
                        [(ngModel)]="confirmNewPassword" name="confirmNewPassword" required>
                </div>
                <button type="submit" class="btn btn-sm btn-success">Reset Password</button>
                <a routerLink="../login" class="btn btn-sm btn-link"> Back To Login</a>
            </form>
            <br>
            <div class="text-divider">
                <span>SMS | Console</span>
            </div>

        </div>
    </div>
</div>

<div *ngIf="passwordUpdated">
    Password updated successfully.
</div>